# Byte-compiled / compiled Python files
__pycache__/
*.py[cod]
*$py.class

venv/
.env
.env.local


ecommerce-api/
.env
.env.local

*.log
logs/
debug.log
.DS_Store

pip-log.txt
pip-wheel-metadata/

.vscode/
.idea/
*.swp

htmlcov/
.coverage
*.cover
nosetests.xml
coverage.xml
*.pytest_cache/



